properties 
    # adjust to your application url
    APPLICATION_BASE_URL http://localhost:8080
    I18N_SUPPORTED_LOCALES pt_BR

bootloaders
	# bootloader classes
	
interceptors
    #br.octahedron.cotopaxi.view.GzipInterceptor

dependencies
	# dependencies (interface -> implementation)
    
controllers
	br.octahedron.cotopaxi.test.FakeController
	/test 				get 	Test
	/test/{something}	post	Test	
