properties 
    # adjust to your application url
    APPLICATION_BASE_URL http://localhost:8080
    I18N_SUPPORTED_LOCALES pt_BR

bootloaders
	# bootloader classes
	
interceptors
	br.octahedron.cotopaxi.interceptor.FakeControllerInterceptor
	br.octahedron.cotopaxi.interceptor.FakeTemplateInterceptor
	br.octahedron.cotopaxi.interceptor.FakeFinalizerInterceptor
    #br.octahedron.cotopaxi.view.GzipInterceptor

dependencies
	# dependencies (interface -> implementation)
    br.octahedron.cotopaxi.FakeIF br.octahedron.cotopaxi.FakeImpl
    
controllers
    br.octahedron.cotopaxi.FakeImpl
        /test 	get test
        /{user} get showUser

    br.octahedron.cotopaxi.FakeTwo
		/edit/{user} 	post 	editUser
        /				get 	index
