---
title: Documentation - Core
description: Cotopaxi - Description TODO
layout: default
---
<div id="content">
	{{ content }}
</div>
<aside id="toc">
	<ol>
		<li><a href="overview.html" title="">Overview</a></li>
		<li><a href="using-cotopaxi.html" title="">Using Cotopaxi</a></li>
		<li><a href="show-me-the-code.html" title="">Show me the code!</a></li>
		<li class="active">
			<a href="#content" title="">Cotopaxi Core</a>
			<ul>
				<li><a href="#routing" title="">Routing</a></li>
				<li><a href="#controllers" title="">Controllers</a></li>
				<li><a href="#view" title="">View</a></li>
				<li><a href="#dependency_injection" title="">Dependency Injection</a></li>
				<li><a href="#boot_loaders" title="">Boot loaders</a></li>
				<li><a href="#interceptors" title="">Interceptors</a></li>
				<li><a href="#logging" title="">Logging</a></li>
			</ul>
		</li>
		<li><a href="" title="">Cotopaxi Extensions</a></li>
		<li><a href="roadmap.html" title="">Roadmap</a></li>
		<li><a href="contribute.html" title="">Contribute</a></li>
	</ol>
</aside>