---
title: Documentation - Show me the code!
description: Cotopaxi - Description TODO
layout: default
---
<div id="content">
	{{ content }}
</div>
<aside id="toc">
	<ol>
		<li><a href="overview.html" title="">Overview</a></li>
		<li><a href="using-cotopaxi.html" title="">Using Cotopaxi</a></li>
		<li class="active">
			<a href="#content" title="">Show me the code!</a>
			<ul>
				<li><a href="#applicationconfig_file" title="">application.config file</a></li>
				<li><a href="#the_controller" title="">The controller</a></li>
				<li><a href="#the_model" title="">The model</a></li>
				<li><a href="#the_views" title="">The views</a></li>
				<li><a href="#checkout_demo" title="">Checkout demo</a></li>
			</ul>
		</li>
		<li><a href="core.html" title="">Cotopaxi Core</a></li>
		<li><a href="" title="">Cotopaxi Extensions</a></li>
		<li><a href="roadmap.html" title="">Roadmap</a></li>
		<li><a href="contribute.html" title="">Contribute</a></li>
	</ol>
</aside>